.body .html{
    width: 100%;
    height: 100%;
    margin: 0;
}

.Container{
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 100%;
    background-color: #2C2B29;
    justify-content: flex-start;
    position: fixed
}

.imgStyle{
    width: 10rem;
    height: 5rem;
}

.btn_style{
   width: 10rem;
   background-color: #2C2B29;
   border: none;
}

.btn_style:focus{
    width: 10rem;
    background-color:#D03739;
    border: none;
}

.btn_text{
    font-family: cursive;
    font-size: 1rem;
    font-weight: strong;
    color: azure;
}

.search_container{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    height: 3rem;
    margin: 1rem
}

.input_search{
   width: 30%;
   border-radius: 5rem;
   background-color: #D03739;
   color: azure;
   font-size: 1rem;
}

::placeholder { 
    color: azure;
    font-size: 1rem;
    font-weight:bolder;
    text-align: center;
  }

  .search_logo{
      position: relative;
      height: 1.5rem;
      width: 1.5rem;
      right: 5%;
      top: 20%;
  }

  .homeContainer{
      flex: 1;
      background-color: #ffffff;
  }

  .back_images{
      display: flex;
      flex-direction: row;
      height: 30rem;
  }

  .people_img{
     margin: 10rem 5rem;
  }

  .about_us{
      font-size: 2rem;
      font-family: cursive;
      margin-top: 5rem;
      color: azure;
  }

  /* .About_us{
      display: flex;
      font-size: 2rem;
      font-family: cursive;
      justify-content: space-around;
  } */

  label{
      font-size: 3rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      font-weight: bolder;
      display: flex;
      justify-content: center;
  }

  .para{
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      font-size: 1.5rem;
      margin: 0rem 5rem
  }

  .footer_container{
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      margin: 5rem 0rem;
      justify-content: center;
      background:  #e7e6e3;
  }